<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Actualizar datos</h1>
    <form method="post">
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" value="{{cliente_actualizado.nombre}}">
        </div>
        <div>
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" id="apellido" value="{{cliente_actualizado.apellido}}"> 
        </div>
        <div>
            <label for="cedula">Cedula</label>
            <input type="text" name="cedula" id="cedula" value="{{cliente_actualizado.cedula}}">
        </div>
        <input type="submit" value="Enviar datos">
    </form>
</body>
</html>