<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    
    <table>
        <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cedula</th>
        </thead>

        <tbody>
            {% for cliente in lista_clientes%}
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellido}}</td>
            <td>{{cliente.cedula}}</td>
            <td><form action="{{url_for('actualizar', cliente_id=cliente.id)}}" method="get" >
                <input type="submit" value="Actualizar">
            </form>
            </td>
            <td>
                <form action="/eliminar" method="post">
                <input type="hidden" name="cliente_id" value="{{cliente.id}}">
                <input type="submit" value="Eliminar">
                </form>
            </td>
        </tbody>
        {%endfor%}
    </table>
</body>
</html>